<router-outlet />
<h1>Welcome to {{ title }}!</h1>
<p>
  This is a simple Angular application that demonstrates the use of routing and lazy loading.
  You can navigate to different sections of the app using the links below.
</p>
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/lazy">Lazy Loaded Module</a></li>
  <li><a routerLink="/not-found">Not Found</a></li>
</ul>
<p>
  This application is built with Angular and demonstrates the use of various features such as
  routing, lazy loading, and more.
</p>